@import "../node_modules/bootstrap/scss/bootstrap";

$font-family-sans-serif: "Open Sans Condensed", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $font-family-sans-serif;

$theme-colors: (
  "primary": #43a047,
  "secondary": 	#00838f,
);

$dark-grey:  #424041;
$light-grey: #666666;

$h1-font-size: 2rem;
$h2-font-size: 1.2rem;

$img-src: "../img/";